* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif ;
    padding: 5px;
    margin: 0;

}
nav a {
    text-decoration: none;
    color: #430f58;
}

nav p {
    float: right;
    
}

main {
    padding: 50px;
    text-align: center;
}

main p{
    padding: 20px;
    font-weight: bold;
}

main button {
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    background-color:#430f58;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

